.wrapper {
  display: inline-block;
  box-sizing: border-box;
  margin: 20px 2%;
  position: relative;
  box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);
}

.cover {
  width: 200px;
  height: 300px;
}

.cover:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transition: ease-in-out 0.5s;
}

.cover__placeholder {
  background-color: #97BDC4;
  animation: fadein 2s;
  animation-fill-mode: backwards;
}

.title {
  color: #898a94;
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  margin-top: 2px;
}

.title:hover{
  text-overflow: none;
  white-space: normal;
}

@keyframes fadein {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
