.App {
  text-align: center;
  background-color: #f1f2f4;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > p {
  color: #211f22;
  margin-top: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.App-logo-placeholder {
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  background-color: #cfcfcf;
  visibility: hidden;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
