.App {
  text-align: center;
  height: 200vh;
  background-color: #f1f2f4;
}

.App-logo-placeholder {
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  background-color: #cfcfcf;
  visibility: hidden;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
